torch==2.5.1+cu124
torchvision==0.20.1+cu124
torchaudio==2.5.1+cu124
asyncer
backoff
datasets
diskcache
evaluate
joblib
json_repair
litellm
magicattr
optuna
peft
psutil
regex
scikit-learn
tenacity
tqdm
transformers==4.48.3
ujson
openai
sentence-transformers
cachetools
orjson
uvicorn
uvloop
fastapi
zmq
vllm
sgl_kernel
