export HF_HOME=<transformers cache dir path>
export OPENAI_API_KEY=<openai api token>
export HUGGINGFACEHUB_API_TOKEN=<huggingface api token>
export DATABRICKS_API_BASE=<databricks api base>
export DATABRICKS_API_KEY=<databricks api key>
export DATASETS_CACHE=$HF_HOME
export HF_TOKEN=$HUGGINGFACEHUB_API_TOKEN
